@import "../../variables.scss";

.single-post__comments {
  margin: 1rem 0 2rem 0;
  background: map-get($colors, app-secondary-bg);
  border: 1px solid map-get($colors, border);
  border-radius: map-get($border-radii, main);

  @media (min-width: 768px) {
    margin-left: 70px;
  }
}

.single-post__add-comment {
  padding: 15px 25px;
  border-top: 1px solid map-get($colors, border);
}

.single-post__add-comment-offer {
  margin-bottom: 10px;
  cursor: default;
}

.single-post__add-comment-btn {
  margin-top: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
  background: map-get($colors, app-secondary);
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: map-get($border-radii, main);
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background: darken(map-get($colors, app-secondary), 10%);
  }
}
