@import "../../variables.scss";

.single-post__comments {
  margin: 1rem 0 2rem 0;
  background: map-get($colors, app-secondary-bg);
  border: 1px solid map-get($colors, border);
  border-radius: map-get($border-radii, main);

  @media (min-width: 768px) {
    margin-left: 70px;
  }
}

.single-post__no-comments {
  padding: 15px 25px;
}

.single-post__add-comment {
  padding: 15px 25px;
  border-top: 1px solid map-get($colors, border);
}
