.somethingwentwrong {
  position: relative;
}

.somethingwentwrong__img {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.somethingwentwrong__msg {
  position: absolute;
  font-size: 4vw;
  top: 30%;
  right: 10%;
}
