@import "../../variables.scss";

.add-comment__offer {
  margin-bottom: 10px;
  cursor: default;
}

.add-comment__btn {
  margin-top: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
  background: map-get($colors, app-secondary);
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: map-get($border-radii, main);
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background: darken(map-get($colors, app-secondary), 10%);
  }
}

.add-comment__form_invalid {
  border: 1px solid map-get($colors, app-red);
}

.add-comment__form__invalid-feedback {
  width: 100%;
  margin-top: 5px;
  font-size: 90%;
  color: map-get($colors, app-red);
}
