@import "../../_variables.scss";

.posts__post {
  margin-bottom: 15px;
}

.posts__no-posts {
  padding: 15px 25px;
  border: 1px solid map-get($colors, border);
  border-radius: map-get($border-radii, main);
  background: map-get($colors, app-secondary-bg);

  @media (min-width: 768px) {
    margin-left: 70px;
  }
}
