@import "../../_variables.scss";

.posts__post {
  margin-bottom: 15px;
}

.posts__no-posts {
  padding: 15px 25px;
  border: 1px solid map-get($colors, border);
  border-radius: map-get($border-radii, main);
  background: map-get($colors, app-secondary-bg);

  @media (min-width: 768px) {
    margin-left: 70px;
  }
}

.posts__more-posts {
  text-align: center;
  margin-bottom: 1.5rem;
}

.posts__more-posts-btn {
  color: #fff;
  background: map-get($colors, app-secondary);
  border: 0;
  outline: 0;
  padding: 6px;
  border-radius: map-get($border-radii, main);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background: darken(map-get($colors, app-secondary), 10%);
  }
}
