@import "../../_variables";

.sidebar__block {
  background: map-get($colors, app-secondary-bg);
  border: 1px solid map-get($colors, border);
  border-radius: map-get($border-radii, main);
  overflow: hidden;
  margin-bottom: 15px;
}
