@import "../../variables";

.not-found {
  position: relative;
}

.not-found__img {
  max-width: 100%;
}

.not-found__msg {
  position: absolute;
  top: 25%;
  right: 25%;
  font-size: 4vw;
}

.not-found__home {
  position: absolute;
  top: 35%;
  right: 25%;
  font-size: 3vw;

  color: inherit;

  &:hover {
    color: map-get($colors, app-secondary);
  }
}
