@import "../../variables.scss";

.content-text-container {
  display: flex;
  align-items: center;
  // max-width: calc(100% - 27.25px);
  flex: 1;
}

.content-text-container__txt {
  // max-width: calc(100% - 25.762px);
  padding: 2px;
  resize: none;
  overflow: hidden;
  font-family: "Roboto";
  border: 0;
  flex: 1;
  background-color: map-get($colors, app-main);
  color: map-get($colors, app-text);
  text-align: left;

  &:focus {
    outline: none;
  }
}

.content-text-container__remove {
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  margin-left: 15px;
}
