@import "../../variables.scss";

.porfile__info {
  padding: 15px 25px;
  border: 1px solid map-get($colors, border);
  border-bottom: 0;
  border-radius: map-get($border-radii, main);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: map-get($colors, app-secondary-bg);

  @media (min-width: 768px) {
    margin-left: 70px;
  }
}

.profile__header {
  display: grid;
  grid-template-columns: fit-content(0);
  grid-template-areas:
    "avatar user buttons"
    "about about about";
  padding-bottom: 15px;
  border-bottom: 1px solid map-get($colors, border);
  align-items: center;

  @media (max-width: 767px) {
    grid-template-columns: auto;
    grid-template-areas:
      "avatar buttons buttons"
      "user user user"
      "about about about";
    justify-items: center;
  }
}

.profile__avatar {
  grid-area: avatar;
}

.profile__img {
  width: 128px;
  max-width: 20vw;
  border-radius: 50%;
}

.profile__user {
  max-width: 40vw;
  margin: 0 15px;
  grid-area: user;

  @media (max-width: 767px) {
    max-width: 80vw;
    margin-top: 1rem;
    text-align: center;
  }
}

.profile__user-settings {
  grid-area: buttons;
  justify-self: end;
  color: inherit;
  cursor: pointer;

  @media (max-width: 767px) {
    justify-self: auto;
  }
}

.profile__settings-symbol {
  transition: all 0.3s;

  &::before {
    font-family: "Font Awesome 5 Free";
    content: "\f013";
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
  }

  &:hover {
    color: map-get($colors, app-secondary);
    transform: rotate(90deg);
  }
}

.profile__user-buttons {
  display: flex;
  flex-direction: column;
  justify-self: end;
  grid-area: buttons;
  align-self: center;

  @media (max-width: 767px) {
    justify-self: auto;
  }
}

.profile__subscribe,
.profile__ignore {
  padding: 6px;
  text-transform: uppercase;
  background: map-get($colors, app-green);
  border: 0;
  outline: 0;
  color: #fff;
  border-radius: map-get($border-radii, main);
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    background: map-get($colors, app-main);
    &:hover {
      background: map-get($colors, app-main);
    }
  }
}

.profile__subscribe {
  &:hover {
    background: darken(map-get($colors, app-green), 10%);
  }
}

.profile__subscribe_subscribed {
  background: map-get($colors, app-red);

  &:hover {
    background: darken(map-get($colors, app-red), 10%);
  }
}

.profile__ignore {
  margin-top: 10px;
  background: map-get($colors, app-red);

  &:hover {
    background: darken(map-get($colors, app-red), 10%);
  }
}

.profile__ignore_ignored {
  background: map-get($colors, app-green);

  &:hover {
    background: darken(map-get($colors, app-green), 10%);
  }
}

.profile__nickname {
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__createdAt {
  margin-top: 10px;
}

.profile__about-user {
  margin-top: 10px;
  grid-area: about;

  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  color: map-get($colors, app-text);
  resize: none;
  font: inherit;
  overflow: hidden;
}

.profile__statistics {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0 5px 0;
  border-bottom: 1px solid map-get($colors, border);
}

.profile__statistics-item {
  margin: 0 35px 10px 0;
  cursor: default;
}

.profile__statistics-item-value {
  font-size: 24px;
}

.profile__statistics-item-label {
  margin-top: 5px;
}

.profile__extra-info {
  padding-top: 15px;
}

.profile__likes {
  color: map-get($colors, app-green);
}

.profile__dislikes {
  color: map-get($colors, app-red);
}

.profile__status {
  margin-top: 10px;
}

.profile__note {
  background: map-get($colors, app-main);

  @media (min-width: 768px) {
    margin-left: 70px;
  }
}

.profile__note-textarea {
  display: flex;
  width: 100%;
  padding: 15px 25px;
  background: transparent;
  border: 1px solid map-get($colors, border);
  border-radius: map-get($border-radii, main);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  outline: 0;
  color: map-get($colors, app-text);
  resize: none;
  font: inherit;
  overflow: hidden;

  &:focus {
    border: 1px solid map-get($colors, app-secondary);
  }
}

.profile__bottom-border {
  height: 2px;
  background: map-get($colors, app-secondary-bg);
  border: 1px solid map-get($colors, border);
  border-top: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  @media (min-width: 768px) {
    margin-left: 70px;
  }
}

.profile__posts {
  margin-top: 30px;
}

.profile__no-posts {
  padding: 15px 25px;
  border: 1px solid map-get($colors, border);
  border-radius: map-get($border-radii, main);
  background: map-get($colors, app-secondary-bg);

  @media (min-width: 768px) {
    margin-left: 70px;
  }
}
