@import "./_variables.scss";

::selection {
  background-color: map-get($colors, text-selection);
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 22px;
  // font-weight: 400;
}

body {
  background-color: map-get($colors, app-main);
  color: map-get($colors, app-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --- для scrollbar --- */
#root {
  height: 100vh;
}
.scrollbarContainer {
  height: inherit;
}
.simplebar-scrollbar:before {
  background: #bfbfbf !important;
}
.simplebar-scrollbar {
  margin-right: 2px;
}
/* --------------------- */

// @media (max-width: 1199px) {
// }
// @media (max-width: 991px) {
// }
// @media (max-width: 767px) {
// }
// @media (max-width: 575px) {
// }

// a {
//   color: #61dafb;
// }
// a:hover {
//   color: #0897be;
//   text-decoration: none;
// }
