@import "./_variables.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

body {
  background-color: map-get($colors, app-main);
  color: map-get($colors, app-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

::selection {
  background-color: map-get($colors, text-selection);
}
