@import "../../variables.scss";

.content-img-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.content-img-container__img-block {
  display: flex;
  flex: 1;
  background: map-get($colors, app-main);
  transition: all 0.3s ease-out;
}

.content-img-container__img-block_is-dragging {
  // background-color: darken(map-get($colors, app-main), 10%);
  border-radius: map-get($border-radii, main);
  border: 2px solid map-get($colors, border);
}

.content-img-container__img {
  max-width: 100%;
  // vertical-align: top;
}

.content-img-container__remove {
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  margin-left: 15px;
}
